<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224529234539-12uc22lig2vmsef5uqgmlm0cjaje8147.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224529234539-12uc22lig2vmsef5uqgmlm0cjaje8147</string>
	<key>API_KEY</key>
	<string>AIzaSyDxJxvlg9Ftg-daAVzqxG0HAx-l_iTQSMI</string>
	<key>GCM_SENDER_ID</key>
	<string>224529234539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bruslan</string>
	<key>PROJECT_ID</key>
	<string>vayapprelease</string>
	<key>STORAGE_BUCKET</key>
	<string>vayapprelease.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224529234539:ios:aac06149400cbbb2</string>
	<key>DATABASE_URL</key>
	<string>https://vayapprelease.firebaseio.com</string>
</dict>
</plist>